@page "/fetchdata"

<PageTitle>User info</PageTitle>

@using Digital_Jungle_Blazor.DbTables
@inject Services.UserInfoService userInfoService

@if (userInfos == null)
{
    <p>Fetching from database...</p>
}
else
{
    <table class="w-100 border border-dark">
        <thead class="border-bottom border-dark">
            <tr>
                <th class="border border-dark px-2">User Name</th>
                <th class="border border-dark px-2">Join Date</th>
            </tr>
        </thead>
        <tbody>
        @foreach (UserInfo userInfo in userInfos) {
            <tr>
                <td class="border border-dark px-2">
                    @userInfo.Name
                </td>
                <td class="border border-dark px-2">
                    @userInfo.JoinDate
                </td>
            </tr>
        }
        </tbody>
    </table>

}

@code {
    private List<UserInfo>? userInfos;

    protected override async Task OnInitializedAsync()
    {
        userInfos = await userInfoService.GetUsers();
    }
}
