@using Digital_Jungle_Blazor.Services

@inject UserInfoService InfoService

<form Model="@userInfo" @onsubmit="@SubmitInfo">
    <input @bind="@userInfo.Name"></input>
    <input @bind="@userInfo.Password" type="Password"></input>
    <button type="submit">Register</button>
</form>

@code {
    DbTables.UserInfo userInfo = new();
    private void SubmitInfo() {
        InfoService.RegisterUserInfo(userInfo);
    }
}



