@page "/fetchdata"

<PageTitle>User info</PageTitle>

@using Digital_Jungle_Blazor.Services.Querying
@inject UserInfo.Service userInfoService

@if (userInfos == null)
{
    <p>Fetching from database...</p>
}
else
{
    @foreach (UserInfo userInfo in userInfos) {
        <p>@userInfo.Name</p>
    }
}

@code {
    private List<UserInfo>? userInfos;

    protected override async Task OnInitializedAsync()
    {
        userInfos = await userInfoService.GetUsers();
    }
}
